@font-face {
  font-family: 'TT Hoves';
  src: 
    url('/fonts/TTHoves-Medium.woff2') format('woff2'),
    url('/fonts/TTHoves-Medium.woff') format('woff');

  font-weight: medium;
  font-style: normal;
  font-display: swap;
}